name: Run tests

on:
  workflow_dispatch: # allows manual triggering
  push:
    branches: [ $default-branch ]
  pull_request:
  schedule: # run every day at midnight
    - cron: '0 0 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install llvm/clang dependencies of dawn4py
      run: |
        sudo apt-get install llvm-dev libclang-dev
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install tox
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Run tox
      run: |
        tox -e py38
